@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "https://fonts.googleapis.com/icon?family=Material+Icons+Outlined";

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

body {
    visibility: hidden;
    font-family: 'Roboto', sans-serif;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#sidebar {
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(221, 225, 229);
    transition: left 0.5s;
    z-index: 10;
}

#sidebar.visible {
    left: 0;
}

#mainPage {
    width: 100%;
    height: 100%;
}

#mainPageShadow {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    z-index: 0;
    transition-duration: 0.5s;
}

#mainPageShadow.visible {
    background-color: black;
    visibility: visible;
    pointer-events: all;
    opacity: 0.5;
    transition-duration: 0.5s;
}

#header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(221, 225, 229);
}

#welcomeText {
    padding: 10px;
    font-size: 18px;
    margin: auto 0;
}

#content {
    width: 100%;
    height: 100%;
    background-color: rgb(246, 247, 251);
    overflow-y: hidden;
}

#iconDiv {
    height: 51px;  
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
    object-fit: contain;
}

#iconDiv img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#navTracker {
    display: block;
}

#navigation {
    padding: 16px 25px;
    height: calc(100% - 198px);
}

#navigation {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
#navigation::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

#pageFrame {
    width: 100%;
    height: 100%;
    border: none;
}

#toast {
    visibility: hidden;
    width: 360px;
    color: #000000;
    text-align: center;
    border: none;
    padding: 16px;
    position: fixed;
    z-index: 100;
    right: -360px;
    bottom: 0;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
}

#toastHeader {
    margin: 0;
    width: 100%;
    height: 3px;
}

#toastContent {
    width: 320px;
    padding: 20px;
    text-align: left;
    overflow-wrap: break-word;
}

#toast.showToast {
    visibility: visible;
    right: -20px;
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
}

#dialog {
    display: none;
    position: fixed;
    z-index: 90;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#dialogContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 30%;
}

.navTopText {
    font-size: 12px;
    color: #1c1c38;
    margin-left: 16px;
    margin-bottom: 8px;
}

.navEventText {
    font-size: 12px;
    color: #1c1c38;
    margin-left: 16px;
    margin-bottom: 8px;
    margin-top: 24px;
}

.navUserText {
    font-size: 12px;
    color: #1c1c38;
    margin-left: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.navUser {
    padding: 16px 25px;
    padding-top: 0;
}

.navGeneral button {
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(69, 70, 85);
    font-size: 14px;
    background-color: #FFFFFF;
    border: none;
    padding: 7px 16px;
    cursor: pointer;
}

.navGeneral button:hover {
    color: rgb(66, 104, 246);
    cursor:pointer;
}

/* .navGeneral {
    display: none;
    padding-bottom: 16px;
    width: 100%;
} */

.navGeneral .material-icons-outlined {
    color: #454655;
    font-size: 20px;
    font-weight: 100;
}

.navGeneral button:hover .material-icons-outlined {
    color: rgb(66, 104, 246);
}

.navGeneral .buttonText {
    text-align: left;
    justify-content: left;
    margin-top: 1px;
    margin-left : 20px;
}

.navUser button {
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(69, 70, 85);
    font-size: 14px;
    background-color: #FFFFFF;
    border: none;
    padding: 7px 16px;
    cursor: pointer;
}

.navUser button:hover {
    color: rgb(66, 104, 246);
    cursor:pointer;
}

/* .navGeneral {
    display: none;
    padding-bottom: 16px;
    width: 100%;
} */

.navUser .material-icons-outlined {
    color: #454655;
    font-size: 20px;
    font-weight: 100;
}

.navUser button:hover .material-icons-outlined {
    color: rgb(66, 104, 246);
}

.navUser .buttonText {
    text-align: left;
    justify-content: left;
    margin-top: 1px;
    margin-left : 20px;
}

#logout {
    width: 120px;
    height: 34px;
    background-color: rgb(66, 104, 246);
    color: rgb(255, 255, 255);
    border: none;
    transition-duration: 0.2s;
    margin: 0 10px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logout:hover {
    background-color: rgb(83, 91, 142);
    cursor: pointer;
}

#logout .material-icons-outlined {
    font-size: 20px;
    font-weight: 100;
}

#logout .buttonText {
    text-align: left;
    justify-content: left;
    margin-left: 5px;
}

#adminView {
    width: 200px;
    height: 34px;
    background-color: #FFFFFF;
    color: rgb(66, 104, 246);
    border: 1px solid rgb(66, 104, 246);
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#adminView:hover {
    color: #ffffff;
    background-color: rgb(83, 91, 142);
    border-color: rgb(83, 91, 142);
    cursor: pointer;
    transition-duration: 0.2s;
}

#adminView .material-icons-outlined {
    font-size: 20px;
    font-weight: 100;
}

#adminView .buttonText {
    text-align: left;
    justify-content: left;
    margin-left: 5px;
}

#navOpenButton {
    width: 40px;
    height: 34px;
    background-color: transparent;
    color: black;
    border: none;
    transition-duration: 0.2s;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navOpenButton .material-icons-outlined {
    font-size: 30px;
    font-weight: 100;
}

#headerNavButtonDiv {
    display: flex;
    width: 100%;
    height: 61px;
    text-align: center;
    align-items: center;
    margin: 0px 10px;   
}

#navIconDiv {
width: calc(100% - 20px);
height: 64px;
padding: 10px;
text-align: center;
vertical-align: middle;
object-fit: contain;
}

#navIconDiv img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#mobileNavButtonClose {
    position: fixed;
    left: 10px;
    top: 14px;
    width: 40px;
    height: 34px;
    background-color: transparent;
    color: black;
    border: none;
    transition-duration: 0.2s;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#mobileNavButtonClose .material-icons-outlined {
    font-size: 20px;
    font-weight: 100;
}

/* Responsive Design */
@media screen and (max-width: 700px) {
    #logout {
        width: 40px;
        margin-left: 5px;
    }

    #adminView {
        width: 40px;
        margin-right: 5px;
    }

    #adminView .buttonText {
        display: none;
    }

    #logout .buttonText {
        display: none;
    }
}