<div class="timezoneText">All times converted to your local timezone. Detected timezone: </div>
<div>Donation tracker made by nicnacnic</div>
<div>Found an issue? Open it on <a class="link" href="https://github.com/Indiethon/donation-tracker">GitHub</a>!
</div>
<script>
    document.querySelector('.timezoneText').innerHTML += new window.Intl.DateTimeFormat().resolvedOptions().timeZone;
</script>