<title><%= pageTitle %> | <%= (eventDetails) ? eventDetails.name : 'All Events' %>
</title>
<link id="favicon" rel="shortcut icon" href="/content/logo">
<link rel="stylesheet" href="/content/common.css" />
<script src="/content/index.js"></script>
<script src="/content/utils.js"></script>