@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "https://fonts.googleapis.com/icon?family=Material+Icons+Outlined";

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

body {
    visibility: hidden;
    font-family: 'Roboto', sans-serif;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#sidebar {
    width: 300px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(221, 225, 229);
}

#mainPage {
    width: 100%;
    height: 100%;
}

#header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(221, 225, 229);
}

#welcomeText {
    padding: 10px;
    font-size: 18px;
    margin: auto 0;
}

#content {
    width: 100%;
    height: 100%;
    background-color: rgb(246, 247, 251);
    overflow-y: hidden;
}

#iconDiv {
    width: calc(100% - 20px);
    height: 64px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    object-fit: contain;
}

#iconDiv img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#navTracker {
    display: block;
}

#navigation {
    padding: 16px 25px;
    height: calc(100% - 198px);
}

#navigation {
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

#navigation::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.navDropdownDiv {
    display: none;
    padding-bottom: 16px;
    width: 100%;
}

.navDropdownDiv.visible {
    display: inherit;
}

.navDropdownDiv button {
    width: calc(100% - 41px);
    height: 38px;
    color: rgb(69, 70, 85);
    padding: 7px 16px;
    background-color: #FFFFFF;
    border: none;
    text-align: left;
    font-size: 14px;
    margin-left: 40px;
}

.navDropdownDiv button:hover {
    color: rgb(66, 104, 246);
    cursor: pointer;
}

#pageFrame {
    width: 100%;
    height: 100%;
    border: none;
}

#toast {
    visibility: hidden;
    width: 360px;
    color: #000000;
    text-align: center;
    border: none;
    padding: 16px;
    position: fixed;
    z-index: 100;
    right: -360px;
    bottom: 0;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
}

#toastHeader {
    margin: 0;
    width: 100%;
    height: 3px;
}

#toastContent {
    width: 320px;
    padding: 20px;
    text-align: left;
    overflow-wrap: break-word;
}

#toast.showToast {
    visibility: visible;
    right: -20px;
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
}

#dialog {
    display: none;
    position: fixed;
    z-index: 90;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#dialogContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 30%;
}

.mainNavButton {
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(69, 70, 85);
    font-size: 14px;
    background-color: #FFFFFF;
    border: none;
    padding: 7px 16px;
}

.mainNavButton:hover {
    cursor: pointer;
}

.mainNavButton.pressed {
    background-color: rgb(246, 247, 251);
}

.mainNavButton .material-icons-outlined {
    color: #454655;
    font-size: 20px;
    font-weight: 100;
}

.mainNavButton .button-expand {
    transition: transform 0.4s;
    color: #C0C0CA;
    margin-left: auto;
}


.mainNavButton.pressed .button-expand {
    transition: transform 0.4s;
    transform: rotate(-180deg);
}

.mainNavButton .buttonText {
    display: block;
    text-align: left;
    justify-content: left;
    margin-top: 2px;
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 38px;
    line-height: 19px;
    align-items: center;
}

.navTopText {
    font-size: 12px;
    color: #1c1c38;
    margin-left: 16px;
    margin-bottom: 8px;
}

.navEventText {
    font-size: 12px;
    color: #1c1c38;
    margin-left: 16px;
    margin-bottom: 8px;
    margin-top: 24px;
}

.navUserText {
    font-size: 12px;
    color: #1c1c38;
    margin-left: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
}

#navUser {
    padding: 16px 25px;
    padding-top: 0;
}

#logout {
    width: 100px;
    height: 34px;
    background-color: rgb(66, 104, 246);
    color: rgb(255, 255, 255);
    border: none;
    transition-duration: 0.2s;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logout:hover {
    background-color: rgb(83, 91, 142);
    cursor: pointer;
}

#logout .material-icons-outlined {
    font-size: 20px;
    font-weight: 100;
}

#logout .buttonText {
    text-align: left;
    justify-content: left;
    margin-left: 5px;
}

#volunteerView {
    width: 200px;
    height: 34px;
    background-color: #FFFFFF;
    color: rgb(66, 104, 246);
    border: 1px solid rgb(66, 104, 246);
    margin-right: 10px;
}

#volunteerView:hover {
    color: #ffffff;
    background-color: rgb(83, 91, 142);
    border-color: rgb(83, 91, 142);
    cursor: pointer;
    transition-duration: 0.2s;
}