@import "https://fonts.googleapis.com/icon?family=Material+Icons+Outlined";

/* Start CSS Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset */

body {
    width: calc(100% - 48px);
    height: 100%;
    margin: 0;
    padding: 24px;
    background-color: rgb(246, 247, 251);
    font-family: 'Roboto', sans-serif;
    visibility: hidden;
}

/* Breadcrumb */
ul.breadcrumb {
    width: 100%;
    height: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    padding: 0 6px;
    color: rgb(192, 192, 202);
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: rgb(192, 192, 202);
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: rgb(66, 104, 246);
    text-decoration: none;
    cursor: pointer;
}

/* Header */
div.header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

h2.title {
    font-size: 32px;
    vertical-align: middle;
    font-weight: 300;
    margin: 0;
}

button {
    width: 160px;
    height: 34px;
    background-color: rgb(66, 104, 246);
    color: rgb(255, 255, 255);
    border: none;
    transition-duration: 0.2s;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    background-color: rgb(83, 91, 142);
    cursor: pointer;
}

div.editHeader {
    display: flex;
    width: 100%;
    height: 100%;
}

button.editBack {
    background-color: #FFFFFF;
    color: rgb(66, 104, 246);
    border: 1px solid rgb(66, 104, 246);
    border-radius: 100%;
    width: 34px;
    padding: 0;
    padding-top: 2px;
    padding-right: 1px;
    margin-right: 16px;
}

button.editBack:hover {
    color: #ffffff;
    background-color: rgb(83, 91, 142);
    border-color: rgb(83, 91, 142);
    cursor: pointer;
    transition-duration: 0.2s;
}

/* Loading animation */
div.loadingContent {
    background-color: #FFFFFF;
    padding: 24px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.loadingAnimation {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

div.loadingAnimation div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: rgb(66, 104, 246);
    animation: loadingAnimation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

div.loadingAnimation div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

div.loadingAnimation div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

div.loadingAnimation div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes loadingAnimation {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

/* Page content */
div.content {
    background-color: #FFFFFF;
    padding: 24px;
    height: 100%;
    visibility: hidden;
    display: table;
    width: calc(100% - 48px);
}

table {
    width: 100%;
    border: none;
    border-collapse: none;
    border-spacing: 0;
    column-width: auto;
    word-break: break-word;
}

table thead {
    background-color: rgb(246, 247, 251);
    color: rgb(137, 138, 154);
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}

table tbody td {
    padding: 10px;
    margin: 0;
    height: 24px;
    font-size: 14px;
    border-bottom: 2px solid rgb(246, 247, 251);
    text-overflow: ellipsis;
}

thead th {
    margin: 0;
    padding: 10px;
}

table tr {
    height: 40px;
    padding: 10px;
}

table tr:hover {
    background-color: #F6F7FB;
}

table th:first-child {
    width: 30px;
    padding: 10px 8px;
}

table th:last-child {
    width: 30px;
    padding: 10px 8px;
}

table td:first-child {
    width: 30px;
    padding: 10px 8px;
}

table td:last-child {
    width: 30px;
    padding: 10px 8px;
}

table input[type=checkbox] {
    border: 1px solid black;
    outline: none;
    width: 24px;
    height: 24px;
}

.tableButton {
    width: 34px;
    height: 34px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid rgb(192, 192, 202);
}

.tableButton:hover {
    background-color: rgb(137, 138, 154);
}

.tableButton .material-icons-outlined {
    font-size: 18px;
    text-align: center;
    vertical-align: bottom;
    margin-top: 2px;
}

/* Table hover buttons */
.tableDropdown {
    position: relative;
    display: inline-block;
}

.tableDropdownContent {
    display: none;
    position: absolute;
    top: 34px;
    right: 0;
    width: 120px;
    z-index: 10;
    background-color: #FFFFFF;
    box-shadow: rgb(137 138 154 / 40%) 0px 1px 6px 0px;
    margin-bottom: 16px;
}

.tableDropdownContent button {
    width: 120px;
    height: 50px;
    margin: none;
    padding: 10px;
    background-color: #FFFFFF;
    color: #000000;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tableDropdownContent button .tableButtonText {
    text-align: left;
    justify-content: center;
    margin-top: 2px;
    margin-left: 10px;
}

.tableDropdownContent button:hover {
    background-color: #F6F7FB;
    color: #4268F6;
}

.tableDropdownContent button .material-icons-outlined {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 100;
    margin-top: 2px;
}

.tableButton:hover {
    color: white;
}

.tableButton:hover~.tableDropdownContent {
    color: white;
    display: block;
}

.tableDropdownContent:hover {
    display: block;
}

/* Edit form */
form {
    width: 100%;
    height: 100%;
    display: block;
}

form .inputDiv {
    display: block;
    width: calc(100% - 24px);
    height: 100%;
    padding-bottom: 10px;
}

.inputDiv .label {
    font-size: 14px;
    margin-bottom: 10px;
}

.inputDiv input {
    width: 100%;
    height: 26px;
    padding: 4px 8px;
    margin: 5px 0;
    font-size: 14px;
    border: 1px solid rgb(192, 192, 202);
    outline: none;
}

.inputDiv input:hover {
    border-color: rgb(68, 107, 246);
}

.inputDiv input:focus {
    border-color: rgb(68, 107, 246);
}

.inputDiv textarea {
    width: 100%;
    height: 74px;
    padding: 8px;
    margin: 5px 0;
    font-size: 14px;
    border: 1px solid rgb(192, 192, 202);
    outline: none;
    resize: vertical;
    font-family: 'Roboto', sans-serif;
}

.inputDiv textarea:hover {
    border-color: rgb(68, 107, 246);
}

.inputDiv textarea:focus {
    border-color: rgb(68, 107, 246);
}

.inputDiv select {
    width: calc(100% + 16px);
    height: 36px;
    padding: 4px 8px;
    margin: 5px 0;
    font-size: 14px;
    border: 1px solid rgb(192, 192, 202);
    outline: none;
}

/* .inputDiv select::-ms-expand {
    display: none;
} */

.inputDiv select:hover {
    border-color: rgb(68, 107, 246);
}

.inputDiv select:focus {
    border-color: rgb(68, 107, 246);
}

.inputDiv .errorText {
    font-size: 14px;
    color: red;
    visibility: hidden;
}

.inputDiv input:disabled {
    opacity: 1;
    background-color: rgb(240, 240, 240);
}

.inputDiv input:disabled:hover {
    opacity: 1;
    border-color: rgb(192, 192, 202);
    background-color: rgb(240, 240, 240);
}

.inputDiv input:disabled:focus {
    opacity: 1;
    border-color: rgb(192, 192, 202);
    background-color: rgb(240, 240, 240);
}

.inputDiv textarea:disabled {
    opacity: 1;
    background-color: rgb(240, 240, 240);
}

.inputDiv textarea:disabled:hover {
    opacity: 1;
    border-color: rgb(192, 192, 202);
    background-color: rgb(240, 240, 240);
}

.inputDiv textarea :disabled:focus {
    opacity: 1;
    border-color: rgb(192, 192, 202);
}

input[type=checkbox] {
    display: block;
    width: 26px;
}

.required {
    color: red;
    font-size: 8px;
    overflow: hidden;
    vertical-align: text-top;
}

/* Array input. */
.array.container {
    border-width: 1px 1px 1px 8px;
    border-style: dotted dotted dotted solid;
    border-color: rgb(203, 213, 253);
    padding: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.arrayInputDiv .label {
    font-size: 14px;
}

.array.container .errorText {
    font-size: 14px;
    color: red;
    visibility: hidden;
}

.array.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}

.array.childDiv {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    width: 100%;
    height: 100%;
    margin: 5px 0;
    padding: 0;
    flex-grow: 1;
}

.array.childDiv div {
    flex-grow: 1;
    margin-right: 32px;
}

.array.childDiv label {
    display: flex;
    font-size: 14px;
    text-align: left;
}

.array.childDiv input {
    color: black;
    width: 100%;
    height: 26px;
    padding: 4px 8px;
    margin: 5px 0;
    font-size: 14px;
    border: 1px solid rgb(192, 192, 202);
    outline: none;
}

.array.childDiv input:hover {
    border-color: rgb(68, 107, 246);
}

.array.childDiv input:focus {
    border-color: rgb(68, 107, 246);
}

.array.childDiv input:disabled {
    opacity: 1;
    background-color: rgb(240, 240, 240);
}

.array.childDiv input:disabled:hover {
    opacity: 1;
    border-color: rgb(192, 192, 202);
    background-color: rgb(240, 240, 240);
}

.array.childDiv input:disabled:focus {
    opacity: 1;
    border-color: rgb(192, 192, 202);
    background-color: rgb(240, 240, 240);
}

.array.childDiv select {
    width: 100%;
    height: 36px;
    padding: 4px 8px;
    margin: 5px 0;
    font-size: 14px;
    border: 1px solid rgb(192, 192, 202);
    outline: none;
}

.array.childDiv select:hover {
    border-color: rgb(68, 107, 246);
}

.array.childDiv select:focus {
    border-color: rgb(68, 107, 246);
}

.array.childDiv select:disabled {
    opacity: 1;
    background-color: rgb(240, 240, 240);
}

.array.childDiv select:disabled:hover {
    opacity: 1;
    border-color: rgb(192, 192, 202);
    background-color: rgb(240, 240, 240);
}

.array.childDiv select:disabled:focus {
    opacity: 1;
    border-color: rgb(192, 192, 202);
    background-color: rgb(240, 240, 240);
}

.array.deleteButton {
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #FF4567;
    border-radius: 100%;
    margin-top: 14px;
    margin-left: 5px;
    transition-duration: 0.2s;
}

.array.deleteButton:hover {
    background-color: #DE405D;
    transition-duration: 0.2s;
}

.array.addButton {
    font-size: 14px;
    background-color: #FFFFFF;
    color: rgb(66, 104, 246);
    border: 1px solid rgb(66, 104, 246);
    border-radius: 20px;
    transition-duration: 0.2s;
}

.array.addButton:hover {
    color: #FFFFFF;
    background-color: #535B8E;
    transition-duration: 0.2s;
    border-color: #535B8E;
}

/* Other */

.inputDiv select:disabled {
    opacity: 1;
    background-color: rgb(240, 240, 240);
}

.inputDiv select:disabled:hover {
    opacity: 1;
    border-color: rgb(192, 192, 202);
    background-color: rgb(240, 240, 240);
}

.inputDiv select:disabled:focus {
    opacity: 1;
    border-color: rgb(192, 192, 202);
    background-color: rgb(240, 240, 240);
}

.longTableText {
    text-overflow: ellipsis;
}

.oengusImport {
    background-color: #FFFFFF;
    color: rgb(66, 104, 246);
    border: 1px solid rgb(66, 104, 246);
    margin-right: 10px;
}

.oengusImport:hover {
    color: #ffffff;
    background-color: rgb(83, 91, 142);
    border-color: rgb(83, 91, 142);
    cursor: pointer;
    transition-duration: 0.2s;
}

.tableBoolean {
    width: 20px;
    display: block;
    border-radius: 20px;
    border: 1px solid rgb(192, 192, 202);
    padding: 2px 8px;
    font-size: 12px;
    color: rgb(137, 138, 154);
    text-align: center;
}

.tableCellBoolean {
    overflow: hidden;
    text-overflow: unset;
    white-space: nowrap;
}

@media only screen and (max-width : 1400px) {
    table td[priority='5'] {
        display: none;
    }

    table th[priority='5'] {
        display: none;
    }
}

@media only screen and (max-width : 1100px) {
    table td[priority='4'] {
        display: none;
    }

    table th[priority='4'] {
        display: none;
    }
}

@media only screen and (max-width : 800px) {
    table td[priority='3'] {
        display: none;
    }

    table th[priority='3'] {
        display: none;
    }
}

@media only screen and (max-width : 500px) {
    table td[priority='2'] {
        display: none;
    }

    table th[priority='2'] {
        display: none;
    }
}

@media only screen and (max-width : 700px) {
    body {
        zoom: 75%;
    }
}

.helpButton {
    width: 80px;
    height: 34px;
    background-color: rgb(66, 104, 246);
    color: rgb(255, 255, 255);
    border: none;
    transition-duration: 0.2s;
    margin: 0 10px;
    margin-left: auto;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}