<!DOCTYPE html>
<html>

<head>
    <title name="Donations">&#65279;</title>
    <link rel="shortcut icon" href="/content/logo">
    <script src="/content/pages/pages/utils.js"></script>
    <link rel="stylesheet" href="/content/pages/pages/common.css" />
</head>

<body onLoad="load()">

</body>

<script>
    async function load() {

        let promise = await loadPage('Donations');

        donationStats();

        async function donationStats() {
            let eventData = await GET(`events/stats/${promise[1]}`);
            let div = document.querySelector('.donationStats');
            try {
                div.innerHTML = `Total (Count): ${promise[0].currencySymbol}${eventData.data.total.toFixed(2)}
         (${eventData.data.count}) - Max/Avg/Median Donation: ${promise[0].currencySymbol}${eventData.data.max.toFixed(2)} /
        ${promise[0].currencySymbol}${eventData.data.avg} /
        ${promise[0].currencySymbol}${eventData.data.median.toFixed(2)}`
            } catch { }
        }

        generateTable({
            name: 'donation',
            model: 'donations',
            endpoint: `donations/event/${promise[1]}`,
            event: event,
            table: [{
                name: 'Alias',
                data: 'alias',
            }, {
                name: 'Time Received',
                textFunction: (value) => {
                    return new Date(value.timestamp).toLocaleString([], { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: '2-digit', seconds: undefined })
                }
            }, {
                name: 'Amount',
                textFunction: (value, details) => {
                    return `${promise[0].currencySymbol}${value.amount.toFixed(2)}`;
                }
            }, {
                name: 'Comment',
                textFunction: (value) => {
                    if (value.comment.length > 0) return 'Yes';
                    return 'No';
                }
            }],
            rowFunction: (value) => {
                if (value.completed && value.verified && value.visible) return true;
                return false;
            },
            clickFunction: (value) => {
                return `location.href = '/donations/${promise[1]}/${value.id}'`
            }
        })
        document.querySelector('.content').style.visibility = 'visible';
    }
</script>

</html>