<!DOCTYPE html>
<html>

<head>
    <%- include("./partials/head", { pageTitle: "Home"}); %>
</head>

<body>

    <nav>
        <%- include ("./partials/nav"); %>
    </nav>

    <div class="content">
    <header>
        <%- include ("./partials/header", { pageTitle: "Home" }); %>

    </header>

    <main>
    </main>

    <footer>
        <%- include ("./partials/footer"); %>
    </footer>
    </div>
</body>

<script id="tableScript">
    
</script>

<style>
    .spinnerDiv {
        display: none;
    }
</style>

</html>