<!DOCTYPE html>
<html>

<head>
    <%- include("./partials/head", { pageTitle: "Runs" }); %>
</head>

<body>

    <nav>
        <%- include ("./partials/nav"); %>
    </nav>

    <div class="content">
        <header>
            <%- include ("./partials/header", { pageTitle: "Runs" }); %>

        </header>

        <main>
        </main>

        <footer>
            <%- include ("./partials/footer"); %>
        </footer>
    </div>

</body>

<script id="tableScript">
    start(new URLSearchParams(window.location.search).get('event'));

    function start(eventShort) {
        let event = eventShort;

        load(<% details %>)

        generateTable({
            name: 'run',
            model: 'runs',
            endpoint: `speedruns/event/${event}`,
            event: event,
            table: [{
                name: 'Game',
                data: 'game',
            }, {
                name: 'Category',
                data: 'category',
            }, {
                name: 'Players',
                textFunction: (value) => {
                    let runnerList = [];
                    for (const runner of value.runners) {
                        runnerList.push(runner.name)
                    }
                    return runnerList.join(', ');
                }
            }, {
                name: 'Start Time',
                textFunction: (value) => {
                    if (value.actualStartTime) return new Date(value.actualStartTime).toLocaleString([], {
                        year: 'numeric',
                        month: 'numeric',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: '2-digit',
                        seconds: undefined
                    })
                    return new Date(value.startTime).toLocaleString([], {
                        year: 'numeric',
                        month: 'numeric',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: '2-digit',
                        seconds: undefined
                    })
                }
            }, {
                name: 'Estimate',
                data: 'estimate',
            }, {
                name: 'Final Time',
                textFunction: (value) => {

                    if (value.finalTime && value.finalTime.length > 0) return value.finalTime;
                    return '';
                }
            }],
            clickFunction: (value) => {
                return `location.href = '/runs/${value.id}'`
            }
        })
    }
</script>

</html>