.bNVkKb {
    display: none;
}

.login__StyledLogo-sc-13rvd86-1 {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 128px;
  height: 128px;
}

.igOvPr::before {
    content: '';
}