/* .subTableRow {
    display: none;
    width: 100%;
}

.subTableRow td:first-child {
    width: 100%;
}

.subTable {
    width: 100%;
    padding: 12px; 
    background-color: lightblue;
}

.subTableRow tr:last-child {
    width: 100%;
}

.subTable tr:last-child {
    width: 100%;
} */    

.subTableTRow {
    display: none;
}

.subTable {
    table-layout: auto;
}

.subTable td:last-child {
}

.subTable td:first-child {
    font-weight: bold;
}

.subTable td {
    text-align: left;
    vertical-align: top;
}