#sidebar {
    width: 200px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(221, 225, 229);
}

#mainPage {
    width: 100%;
    height: 100%;
}

#header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(221, 225, 229);
}

#content {
    width: 100%;
    height: 100%;
    background-color: rgb(246, 247, 251);
    overflow-y: scroll;
}

#iconDiv {
    width: 100%;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}

#iconDiv img {
    width: 40px;
    height: 40px;
}

#navTracker {
    display: block;
}

#navigation button {
    width: 100%;
    margin: 5px 0;
}

.navDropdownDiv {
    display: none;
    padding-bottom: 20px;
}

#pageFrame {
    width: 100%;
    height: 100%;
    border: none;
}

#toast {
    visibility: hidden;
    width: 360px;
    color: #000000;
    text-align: center;
    border: none;
    padding: 16px;
    position: fixed;
    z-index: 100;
    right: -360px;
    bottom: 0;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
}

#toastHeader {
    margin: 0;
    width: 100%;
    height: 3px;
}

#toastContent {
    width: 320px;
    padding: 20px;
    text-align: left;
    overflow-wrap: break-word;
}

#toast.showToast {
    visibility: visible;
    right: -20px;
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
}

#dialog {
    display: none;
    position: fixed;
    z-index: 90;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }